<!-- eof .modal -->
<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">
        <!-- Intro banner section -->
        <section class="intro_section page_mainslider ds">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                       
                        <img src="/images/images/slide01.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="slide_description_wrapper">
                                        <div class="slide_description">
                                            <div class="intro-layer" data-animation="fadeInRight">
                                                <h3>
                                                    
                                                </h3>
                                            </div>
                                            <div class="intro-layer" data-animation="fadeInLeft">
                                                <p class="small-text grey">
                                                    Premium HTML Template
                                                </p>
                                            </div>
                                        </div>
                                        <!-- eof .slide_description -->
                                    </div>
                                    <!-- eof .slide_description_wrapper -->
                                </div>
                                <!-- eof .col-* -->
                            </div>
                            <!-- eof .row -->
                        </div>
                        <!-- eof .container -->
                    </li>

                    <li>
                        <img src="/images/images/slide01.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="slide_description_wrapper">
                                        <div class="slide_description">
                                            <div class="intro-layer" data-animation="fadeInRight">
                                                <h3>
                                                    Rita Solomou
                                                </h3>
                                            </div>
                                            <div class="intro-layer" data-animation="fadeInLeft">
                                                <p class="small-text grey">
                                                    Premium HTML Template
                                                </p>
                                            </div>
                                        </div>
                                        <!-- eof .slide_description -->
                                    </div>
                                    <!-- eof .slide_description_wrapper -->
                                </div>
                                <!-- eof .col-* -->
                            </div>
                            <!-- eof .row -->
                        </div>
                        <!-- eof .container -->
                    </li>

                </ul>
            </div>
            <!-- eof flexslider -->
        </section>
        <!-- what can we offer -->
        <section id="services" class="ls section_padding_top_130 section_padding_bottom_100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="section_header with_icon">What We Offer!</h2>
                        <h3 class="section_header">1. Psychiatric Evaluations & Diagnosis</h3>
                        <h5 class="fs-1">
                            Comprehensive assessments to accurately diagnose mental health conditions.
                        </h5>
                    </div>
                </div>
                <div class="row columns_padding_0 columns_margin_0 fontsize_16">
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/mediaction_management.png" alt="" class="img-fluid fixed-height-img" />
                            <h4 class="fs-2">
                               Medication Management
                            </h4>
                            <p class="fs-3">
                                Ongoing medication reviews to ensure optimal therapeutic outcomes with minimal side effects.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/therapyAndCounsellingServices.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Therapy & Counseling Services
                            </h4>
                            <p class="fs-3">
                                Individual therapy (CBT, DBT, mindfulness-based therapy, etc.), family therapy, and group therapy.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/speciallizedTreatments.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Specialized Treatments
                            </h4>
                            <p class="fs-3">
                                Treatments for specific disorders such as anxiety, depression, bipolar disorder, ADHD, PTSD, OCD, schizophrenia, and eating disorders.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/telepsychiatry.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Telepsychiatry
                            </h4>
                            <p class="fs-3">
                                Remote sessions via secure video calls for patients who prefer or require virtual consultations.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/holisticMentalHealthServices.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Holistic Mental Health Services
                            </h4>
                            <p class="fs-3">
                                Lifestyle interventions, mindfulness training, stress management, and nutritional counseling.
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/crisisInterventionAndEmergencyConsultations.png" class="img-fluid fixed-height-img" alt="" />
                            <h4 class="fs-2">
                                Crisis Intervention & Emergency Consultations
                            </h4>
                            <p class="fs-3">
                                Support in times of acute psychological distress.
                        </div>
                    </div>
                </div>

    
                <div class="row">
                    <div class="col-sm-12 text-center">
                       
                        <h3 class="fs-2">2. Resources for Patients</h3>
                    </div>
                </div>
                <div class="row columns_padding_0 columns_margin_0 fontsize_16">
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/mentalHealthBlog.png" alt="" class="img-fluid fixed-height-img" />
                            <h4 class="fs-2">
                                Mental Health Blog
                            </h4>
                            <p class="fs-3">
                                Articles about mental health conditions, self-care tips, coping strategies, and the latest research in psychiatry.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/educationalResources.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Educational Resource
                            </h4>
                            <p class="fs-3">
                                Downloadable PDFs, videos, and articles that explain common mental health disorders, treatments, and medications.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/FAQ.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Frequently Asked Questions (FAQ)
                            </h4>
                            <p class="fs-3">
                                Answers to common questions about psychiatric care, insurance, medication, therapy, etc.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/symptomChecker.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Symptom Checker
                            </h4>
                            <p class="fs-3">
                                An interactive tool to help patients identify potential symptoms of common mental health conditions.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/crisisHotlinesAndResources.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Crisis Hotlines and Resources
                            </h4>
                            <p class="fs-3">
                                Information on where to seek help during a mental health crisis, including hotlines, support groups, and local resources.
                        </div>
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                       
                        <h3 class="fs-2">3. Patient Tools</h3>
                    </div>
                </div>
                <div class="row columns_padding_0 columns_margin_0 fontsize_16">
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/appointementBookingSystem.png" alt="" class="img-fluid fixed-height-img" />
                            <h4 class="fs-2">
                                Appointment Booking System
                            </h4>
                            <p class="fs-3">
                                Easy online booking for consultations or follow-ups with flexible appointment options (in-person or telepsychiatry).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                        <div class="with_padding text-center teaser hover_shadow">
                            <img src="images/whatWeOffer/patientPortal.png" alt="" class="img-fluid fixed-height-img"/>
                            <h4 class="fs-2">
                                Patient Portal
                            </h4>
                            <p class="fs-3">
                                Secure login where patients can access their medical history, treatment plans, and prescriptions. It also allows communication with their psychiatrist.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about"
            class="cs parallax darken_gradient page_about section_padding_top_75 columns_margin_bottom_30">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 text-center">
                        <h2 class="section_header">Welcome to Psychologist &amp; Family Consulting</h2>
                        <br>
                        <p class="bold fontsize_18">It's my goal to create a comfortable, safe environment, where we'll
                            work to achieve the goal together.</p>
                        <p class="fontsize_18">
                            I am a certified specialist in the branch of psychology concerned with the assessment and
                            treatment of mental illness and behavioural problems. My other passion is publishing. You
                            can find and purchase all my books within this site.
                        </p>
                        <div class="with_icon topmargin_60">
                            <h5 class="small-text text-uppercase inline-block">Ronda Solomou</h5>
                            <span class="lightgrey">Psychologist</span>
                        </div>
                        <img src="/images/images/signature.png" alt="" />
                    </div>
                    <div class="col-md-6 col-md-pull-6 text-center bottommargin_0">
                        <img src="/images/images/person.png" alt="" class="top-overlap" />
                    </div>
                </div>
            </div>
        </section>

        <section
            class="ls section_padding_top_130 section_padding_bottom_100 columns_margin_top_0 columns_margin_bottom_30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="section_header with_icon">Recent Articles</h2>
                        <p>
                            Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter
                            ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin aliquip.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <article class="vertical-item content-padding post format-standard with_shadow">

                            <div class="item-media entry-thumbnail">
                                <img src="/images/images/blog_post1.jpg" alt="">
                            </div>

                            <div class="item-content entry-content">
                                <header class="entry-header">

                                    <div class="entry-date small-text highlight">
                                        <a href="blog-right.html" rel="bookmark">
                                            <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                                March 13, 2017
                                            </time>
                                        </a>
                                    </div>

                                    <h4 class="entry-title">
                                        <a href="blog-single-right.html" rel="bookmark">How to avoid hostile
                                            attitude</a>
                                    </h4>

                                    <hr class="divider_30_1">

                                </header>
                                <!-- .entry-header -->

                                <p class="bottommargin_40 fontsize_18">Exercitation cupim ex, short ribs cow in ullamco
                                    corned beef veniam kevin eu frankfurter...</p>

                                <a href="blog-single-right.html" class="theme_button color1">Read article</a>

                            </div>
                            <!-- .item-content.entry-content -->
                        </article>
                    </div>
                    <div class="col-md-4 text-center">
                        <article class="vertical-item content-padding post format-standard with_shadow">

                            <div class="item-media entry-thumbnail">
                                <img src="/images/images/blog_post2.jpg" alt="">
                            </div>

                            <div class="item-content entry-content">
                                <header class="entry-header">

                                    <div class="entry-date small-text highlight">
                                        <a href="blog-right.html" rel="bookmark">
                                            <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                                March 13, 2017
                                            </time>
                                        </a>
                                    </div>

                                    <h4 class="entry-title">
                                        <a href="blog-single-right.html" rel="bookmark">How to avoid hostile
                                            attitude</a>
                                    </h4>

                                    <hr class="divider_30_1">

                                </header>
                                <!-- .entry-header -->

                                <p class="bottommargin_40 fontsize_18">Exercitation cupim ex, short ribs cow in ullamco
                                    corned beef veniam kevin eu frankfurter...</p>

                                <a href="blog-single-right.html" class="theme_button color1">Read article</a>

                            </div>
                            <!-- .item-content.entry-content -->
                        </article>
                    </div>
                    <div class="col-md-4 text-center">
                        <article class="vertical-item content-padding post format-standard with_shadow">

                            <div class="item-media entry-thumbnail">
                                <img src="/images/images/blog_post3.jpg" alt="">
                            </div>

                            <div class="item-content entry-content">
                                <header class="entry-header">

                                    <div class="entry-date small-text highlight">
                                        <a href="blog-right.html" rel="bookmark">
                                            <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                                March 13, 2017
                                            </time>
                                        </a>
                                    </div>

                                    <h4 class="entry-title">
                                        <a href="blog-single-right.html" rel="bookmark">How to avoid hostile
                                            attitude</a>
                                    </h4>

                                    <hr class="divider_30_1">

                                </header>
                                <!-- .entry-header -->

                                <p class="bottommargin_40 fontsize_18">Exercitation cupim ex, short ribs cow in ullamco
                                    corned beef veniam kevin eu frankfurter...</p>

                                <a href="blog-single-right.html" class="theme_button color1">Read article</a>

                            </div>
                            <!-- .item-content.entry-content -->
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="cs main_color2 parallax page_testimonials section_padding_75">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="owl-carousel testimonials-carousel top-dots" data-responsive-sm="1"
                            data-responsive-md="1" data-responsive-lg="1" data-dots="true">
                            <blockquote>
                                “for me this was a wonderful experience. i must say that i am really impressed.”
                                <div class="item-meta">
                                    <h5>Myrtle Murray</h5>
                                </div>
                            </blockquote>
                            <blockquote>
                                “for me this was a wonderful experience. i must say that i am really impressed.”
                                <div class="item-meta">
                                    <h5>Myrtle Murray</h5>
                                </div>
                            </blockquote>
                            <blockquote>
                                “for me this was a wonderful experience. i must say that i am really impressed.”
                                <div class="item-meta">
                                    <h5>Myrtle Murray</h5>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq" class="ls section_padding_top_130 section_padding_bottom_100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="section_header with_icon">Frequently Asked Questions</h2>
                        <p>
                            Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter
                            ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin aliquip.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1"
                                            class="collapsed">
                                            What can I expect in the first session when I see a psychologist?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu
                                        frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2"
                                            class="collapsed">
                                            What are the sings of being abused by your partner?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu
                                        frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse3"
                                            class="collapsed">
                                            What specific qualities are you looking for?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu
                                        frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse4"
                                            class="collapsed">
                                            How much money do psychologists make?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu
                                        frankfurter ham hock ball tip reprehenderit adipisicing ipsum jerky tenderloin.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="tab-content padding_0">

                            <div class="tab-pane fade in active" id="tab1">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
                                        <img src="/images/images/video_tab1.jpg" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab2">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
                                        <img src="/images/images/video_tab2.jpg" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <a href="//player.vimeo.com/video/1084537" class="embed-placeholder">
                                        <img src="/images/images/video_tab3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- eof .tab-content -->

                        <ul class="nav nav-image" role="tablist">
                            <li class="active">
                                <a href="#tab1" role="tab" data-toggle="tab">
                                    <img src="/images/images/video_tab1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#tab2" role="tab" data-toggle="tab">
                                    <img src="/images/images/video_tab2.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" role="tab" data-toggle="tab">
                                    <img src="/images/images/video_tab3.jpg" alt="">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <section id="prices" class="cs darken_gradient section_padding_75 columns_padding_0 columns_margin_0">
            <div class="container">
                <div class="row flex-row price-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="price-table price-hover">
                            <div class="price-media">
                                <div class="plan-name">
                                    Consultation 
                                </div>
                                <div class="plan-price with_icon">
                                    ₹1500
                                    <p class="fs-4">Per 15 to 30 mins session</p>
                                    <p class="fs-3">Tele-consultation and In Person</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6"></div>
                        <div class="price-table price-hover">
                            <div class="price-media">
                                <div class="plan-name">
                                    Consultation 
                                </div>
                                <div class="plan-price with_icon">
                                    ₹1500
                                    <p class="fs-4">Per 15 to 30 mins session</p>
                                    <p class="fs-3">Tele-consultation and In Person</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="price-table price-hover">
                            <div class="price-media">
                                <div class="plan-name">
                                    Couples
                                    <br> Therapy
                                </div>
                                <div class="plan-price with_icon">
                                    $149
                                    <p class="small-text">per hour</p>
                                </div>
                            </div>
                            <div class="price-content ls with_shadow">
                                <ul class="features-list">
                                    <li>
                                        Depression Therapy
                                    </li>
                                    <li>
                                        Stress Management
                                    </li>
                                    <li>
                                        Anxiety Treatment
                                    </li>
                                    <li>
                                        Post-Divorce Recovery
                                    </li>
                                </ul>
                                <div class="call-to-action">
                                    <a href="#" class="theme_button color1">Book now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="price-table price-hover">
                            <div class="price-media">
                                <div class="plan-name">
                                    Group
                                    <br> Therapy
                                </div>
                                <div class="plan-price with_icon">
                                    $49
                                    <p class="small-text">per hour</p>
                                </div>
                            </div>
                            <div class="price-content ls with_shadow">
                                <ul class="features-list">
                                    <li>
                                        Depression Therapy
                                    </li>
                                    <li>
                                        Stress Management
                                    </li>
                                    <li>
                                        Anxiety Treatment
                                    </li>
                                </ul>
                                <div class="call-to-action">
                                    <a href="#" class="theme_button color1">Book now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="price-table price-hover">
                            <div class="price-media">
                                <div class="plan-name">
                                    Personal
                                    <br> Help
                                </div>
                                <div class="plan-price with_icon">
                                    $99
                                    <p class="small-text">per hour</p>
                                </div>
                            </div>
                            <div class="price-content ls with_shadow">
                                <ul class="features-list">
                                    <li>
                                        Depression Therapy
                                    </li>
                                    <li>
                                        Stress Management
                                    </li>
                                    <li>
                                        Anxiety Treatment
                                    </li>
                                    <li>
                                        Individual Coaching
                                    </li>
                                    <li>
                                        Post-Divorce Recovery
                                    </li>
                                </ul>
                                <div class="call-to-action">
                                    <a href="#" class="theme_button color1">Book now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="appointment" class="ls section_padding_top_130 section_padding_bottom_100">
            <div class="container">
                <div class="row">
                    <div
                        class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <h2 class="section_header with_icon highlight">Make an Appointment</h2>
                        <div class="fontsize_16">
                            Exercitation cupim ex, short ribs cow in ullamco corned beef veniam kevin. Eu frankfurter
                            ham hock ball tip reprehenderit adipisicing ipsum
                        </div>

                        <form class="contact-form row columns_margin_bottom_40 topmargin_60" method="post" action="./">


                            <div class="col-sm-6">
                                <div class="contact-form-name">
                                    <label for="name">Your Name
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" aria-required="true" size="30" value="" name="name" id="name"
                                        class="form-control" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-form-email">
                                    <label for="email">Email Address
                                        <span class="required">*</span>
                                    </label>
                                    <input type="email" aria-required="true" size="30" value="" name="email" id="email"
                                        class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-form-subject">
                                    <label for="subject">Subject
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" aria-required="true" size="30" value="" name="subject"
                                        id="subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-form-phone">
                                    <label for="phone">Phone
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text" aria-required="true" size="30" value="" name="phone" id="phone"
                                        class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-form-date select-group">
                                    <label for="date" class="sr-only">Date
                                        <span class="required">*</span>
                                    </label>
                                    <div class="input-group">
                                        <select aria-required="true" id="date" name="date"
                                            class="choice empty form-control">
                                            <option value="" disabled selected data-default>Date</option>
                                            <option value="14.03.2017">14.03.2017</option>
                                            <option value="15.03.2017">15.03.2017</option>
                                            <option value="16.03.2017">16.03.2017</option>
                                            <option value="17.03.2017">17.03.2017</option>
                                            <option value="18.03.2017">18.03.2017</option>
                                            <option value="19.03.2017">19.03.2017</option>
                                            <option value="20.03.2017">20.03.2017</option>
                                            <option value="21.03.2017">21.03.2017</option>
                                            <option value="22.03.2017">22.03.2017</option>
                                            <option value="23.03.2017">23.03.2017</option>
                                            <option value="24.03.2017">24.03.2017</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-form-time select-group">
                                    <label for="time" class="sr-only">Date
                                        <span class="required">*</span>
                                    </label>
                                    <div class="input-group">
                                        <select aria-required="true" id="time" name="time"
                                            class="choice empty form-control">
                                            <option value="" disabled selected data-default>Time</option>
                                            <option value="14.03.2017">9:00</option>
                                            <option value="15.03.2017">10:00</option>
                                            <option value="16.03.2017">11:00</option>
                                            <option value="17.03.2017">12:00</option>
                                            <option value="18.03.2017">13:00</option>
                                            <option value="19.03.2017">14:00</option>
                                            <option value="20.03.2017">15:00</option>
                                            <option value="21.03.2017">16:00</option>
                                            <option value="22.03.2017">17:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="contact-form-message">
                                    <label for="message">Message</label>
                                    <textarea aria-required="true" rows="1" cols="45" name="message" id="message"
                                        class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12">

                                <div class="contact-form-submit topmargin_20">
                                    <button type="submit" id="contact_form_submit" name="contact_submit"
                                        class="theme_button color1 with_shadow">Send message</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        

    </div>
    <!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->

<script src="/js/compressed.js"></script>
<script src="/js/main.js"></script>